/web/bundles/
/web/media/cache/
/web/css/dev/*
/web/js/dev/*
!web/media/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/databases/*
!app/databases/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/components/*
