{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
<p class="text-left small" style="border-top: 1px solid #444444;padding:50px 0 0 20px;color:#EEE;">Desenvolupat per <a href="http://www.flux.cat" rel="noreferrer" target="_blank">www.flux.cat</a><br>&copy;2014 Finques Farnós</p>
{% endblock %}
