{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% spaceless %}
        <div>
            {% if object.imageName %}
                <img src="{{ vich_uploader_asset(object, 'property_image') | imagine_filter('60x60') }}" alt="{{ object.metaAlt }}">
            {% else %}
                ---
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
