<div class="login-logo">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <div>
            <img src="{{ asset('/bundles/app/images/logo-ff.png') }}" alt="{{ sonata_admin.adminPool.title }}">
        </div>
    </a>
</div>
