// Variables
//   brand colors
//   #D86F24 brand orange
//   #655B45 brand grey
//@brand-primary: #D86F24;
@fforangedark: #DDBC9D;
@fforange: #D86F24;
@fforangelight: #F6EEE5;
@ffgrey: #655B45;
@fffootgrey: #888;

// Link
@link-color: @fforange;
@link-hover-color: darken(@link-color, 15%);

// Borders
//@border-radius-base: 0;
//@border-radius-small: @border-radius-base;
//@border-radius-large: @border-radius-base;

// Grid
@grid-gutter-width: 10px;

// Navbar
@navbar-height: 70px;
@navbar-margin-bottom: 20px;
@navbar-default-color: transparent;
@navbar-default-bg: white;
@navbar-default-link-color: @ffgrey;
@navbar-default-link-hover-color: @fforange;
@navbar-default-link-active-bg: transparent;
div#navbar {
  border-bottom: solid 4px @fforange;
  ul {
    li {
      &.active {
        border-bottom: solid 4px @ffgrey;
      }
    }
  }
}

// Customs
body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.row {
  margin-bottom: 10px;
}

.well {
  color: @fforange;
  background-color: @fforangelight;
  border-color: @fforangelight;
  p, ul {
    color: black;
  }
  p.lead.orange {
    color: @fforange;
  }
}

.well-lg {
  border-radius: 0;
}

.angular-google-map-container {
  height: 400px;
}

footer {
  color: white;
  background-color: @fffootgrey;
  padding: 10px;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
  a.btn {
    text-decoration: none;
  }
}