// Imports
@import "../../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../../bower_components/font-awesome/less/font-awesome.less";

// Variables
@fforange: #D86F24;
@fforangelight: #F9F0E8;
@fforangedark: #E6C3A6;
@ffgreylogo: #655B45;
@ffgrey: #424242;
@ffgreylight: lighten(@ffgrey, 25%);
@fffootgrey: #666;
@extramargin: 20px;
@doubleextramargin: 50px;
@ff-space-25: 25px;
@ff-space-50: 50px;
@extraborder: 9px;
@ff-font-size-12: 12px;
@ff-font-size-13: 13px;
@ff-font-size-14: 14px;
@ff-font-size-15: 15px;
@ff-font-size-16: 16px;
@ff-font-size-18: 18px;
@ff-font-size-20: 20px;
@ff-font-size-28: 28px;
@ff-font-size-32: 32px;

// Link
@link-color: @fforange;
@link-hover-color: darken(@link-color, 15%);

// Borders
//@border-radius-base: 0;
//@border-radius-small: @border-radius-base;
//@border-radius-large: @border-radius-base;

// Grid
@grid-gutter-width: 10px;

// Navbar
@navbar-height: 70px;
@navbar-default-border: transparent;
@navbar-default-color: transparent;
@navbar-default-bg: white;
@navbar-default-brand-color: @ffgrey;
@navbar-default-link-color: @ffgrey;
@navbar-default-link-hover-color: @fforange;
@navbar-default-link-active-bg: transparent;
nav.ff {
  a.navbar-brand { margin-top: -16px; }
}
.navbar { border: none }
div#navbar {
  border-bottom: solid 2px @fforange;
  ul {
    li {
      height: 83px;
      margin-bottom: 10px;
      padding: 0 15px;
      &:last-child { padding-right: 0; }
      &.active, &:hover {
        a { border-bottom: solid @extraborder @fforange; }
      }
      a {
        padding: 53px 0 1px 0;
        font-size: 15px;
        font-weight: bold;
        &, &:hover { color: @ffgreylogo; }
      }
    }
  }
}

////// Customs

// Header

// Body
body {
//  padding-top: 107px;
}

textarea { resize: vertical; }

.row {
  margin-bottom: @extramargin;
}

.well {
  color: @fforange;
  background-color: @fforangelight;
  border-color: @fforangelight;
  p, ul {
    color: black;
  }
  p.lead.orange {
    color: @fforange;
  }
}

.well-lg {
  border-radius: 0;
}

.form-group {
  .form-control { border: none; }
  label {
    font-weight: normal;
    color: @ffgrey;
  }
}

.no-bold-font { font-weight: normal; }

// Gaps
.extra-m { margin: @extramargin }
.extra-m-top { margin-top: @extramargin }
.extra-m-top-5 { margin-top: 5px }
.extra-m-top-27 { margin-top: 27px }
.extra-m-top-30 { margin-top: 30px }
.extra-m-top-35 { margin-top: 35px }
.extra-m-top-49 { margin-top: 49px }
.extra-m-bottom { margin-bottom: @extramargin }
.extra-m-bottom-27 { margin-bottom: 27px }
.extra-m-bottom-30 { margin-bottom: 30px }
.no-m { margin: 0 }
.no-m-top { margin-top: 0 }
.no-m-bottom { margin-bottom: 0 }
.double-extra-m { margin: @doubleextramargin }
.double-extra-m-top { margin-top: @doubleextramargin }
.double-extra-m-bottom { margin-bottom: @doubleextramargin }
.extra-p { padding: @extramargin }
.extra-p-top { padding-top: @extramargin }
.extra-p-bottom { padding-bottom: @extramargin }
.no-p { padding: 0 }
.no-p-top { padding-top: 0 }
.no-p-bottom { padding-bottom: 0 }
.special-h4-addons { margin: 40px 0 20px 0; }

// Columns
.col-top    { vertical-align: top; }
.col-middle { vertical-align: middle; }
.col-bottom { vertical-align: bottom; }

// Colors
.c-orange { color: @fforange }
.bc-orange { background-color: @fforange }
.c-orange-light { color: @fforangelight }
.bc-orange-light { background-color: @fforangelight }
.c-grey { color: @ffgrey }
.bc-grey { background-color: @ffgrey }

// Fonts
.font-size-13 { font-size: @ff-font-size-13; }

// Complex elements
.carousel {
  margin-bottom: 30px;
}

.angular-google-map-container {
  height: 532px;
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 2000;
  background-color: @fforange;
  color: white;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
  }
  i.fa {
    line-height: inherit;
  }
}

// Footer
footer {
  color: white;
  background-color: @fffootgrey;
  padding: 20px 10px 40px 10px;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
  a.btn {
    text-decoration: none;
  }
  div.text-center {
    img {
      margin:0 20px 20px 0;
      &:last-child { margin:0 0 20px 0; }
    }
  }
}

// Homepage
.hr-homepage {
  border: none;
  border-top: solid @extraborder @fforange;
  margin: 0 0 15px 0;
}

.carousel-homepage-banners-wrapper {
  div.banner-main {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px;
    color: white;
    background: rgba(216, 111, 36, 0.85);
    font-size: @ff-font-size-12;
    @media(min-width: 768px) {
      font-size: @ff-font-size-14;
      padding: 15px;
      top: 25px;
      left: 25px;
    }
    @media(min-width: 992px) {
      font-size: @ff-font-size-18;
      padding: 20px;
      top: 30px;
      left: 30px;
    }
    @media(min-width: 1200px) {
      font-size: @ff-font-size-20;
      padding: 25px;
      top: 35px;
      left: 35px;
    }
  }
}

.thumbnail.homepage {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 5px;
  background-color: @fforangelight;
  &.bg-dark-orange {
    background-color: @fforangedark;
    ul.ribbons {
      li {
        &.special-offer { background: url('../bundles/app/images/icones/immobiliaria/bw/oferta.png') no-repeat 50% 0 }
        &.discount-offer { background: url('../bundles/app/images/icones/immobiliaria/bw/rebaixa.png') no-repeat 50% 0 }
        &.square-meters { background: url('../bundles/app/images/icones/immobiliaria/bw/casa.png') no-repeat 50% 0 }
        &.square-rooms { background: url('../bundles/app/images/icones/immobiliaria/bw/dormitoris.png') no-repeat 50% 0 }
        &.square-bathrooms { background: url('../bundles/app/images/icones/immobiliaria/bw/banys.png') no-repeat 50% 0 }
      }
    }
  }
  div.caption { padding: 15px 20px 20px 20px; }
  a {
    &:hover { text-decoration: none; }
    color: @ffgrey;
    h2 {
      line-height: 1.3;
      font-size: @ff-font-size-20;
      font-weight: bold;
      color: @ffgrey;
      margin-bottom: 0;
      &.no-bold-font {
        font-weight: normal;
        font-size: 15px;
      }
    }
    h3 {
      color: @fforange;
      font-size: @ff-font-size-20;
      font-weight: bold;
      margin-bottom: 25px;
      small {
        font-size: @ff-font-size-12;
        color: @ffgrey;
      }
    }
  }
}

.ribbons {
  li {
    text-align: center;
    padding: 40px 10px 0 10px;
    border-right: solid 1px @ffgreylight;
    font-size: @ff-font-size-12;
    &:last-child { border-right: none; }
    &.special-offer { background: url('../bundles/app/images/icones/immobiliaria/color/oferta_color.png') no-repeat 50% 0 }
    &.discount-offer { background: url('../bundles/app/images/icones/immobiliaria/color/rebaixa_color.png') no-repeat 50% 0 }
    &.square-meters { background: url('../bundles/app/images/icones/immobiliaria/color/casa_color.png') no-repeat 50% 0 }
    &.square-rooms { background: url('../bundles/app/images/icones/immobiliaria/color/dormitoris_color.png') no-repeat 50% 0 }
    &.square-bathrooms { background: url('../bundles/app/images/icones/immobiliaria/color/banys_color.png') no-repeat 50% 0 }
  }
}

// Properties list
.hr-properties {
  border: none;
  border-top: solid 2px @fforange;
  margin: 0 0 @extramargin 0;
  &.last { margin-bottom: 30px; }
}

.left-search-panel {
  background-color: @fforangelight;
  padding: 30px;
  form { min-height: 432px; }
  div.form-group {
    margin-bottom: 40px;
    &:last-child { margin-bottom: 0; }
  }
}

.properties-list-h1 {
  font-size: @ff-font-size-18;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
  span.search-icon {
    background: url('../bundles/app/images/icones/immobiliaria/color/buscar.png') no-repeat 50% 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
  }
}

.wrapper {
  padding: 25px;
  background-color: @fforangelight;
  min-height: 185px;
  &.bg-dark-orange {
    background-color: @fforangedark;
    ul.ribbons {
      li {
        &.special-offer { background: url('../bundles/app/images/icones/immobiliaria/bw/oferta.png') no-repeat 50% 0 }
        &.discount-offer { background: url('../bundles/app/images/icones/immobiliaria/bw/rebaixa.png') no-repeat 50% 0 }
        &.square-meters { background: url('../bundles/app/images/icones/immobiliaria/bw/casa.png') no-repeat 50% 0 }
        &.square-rooms { background: url('../bundles/app/images/icones/immobiliaria/bw/dormitoris.png') no-repeat 50% 0 }
        &.square-bathrooms { background: url('../bundles/app/images/icones/immobiliaria/bw/banys.png') no-repeat 50% 0 }
      }
    }
  }
  a {
    color: @ffgrey;
    &.c-orange { color: @fforange }
  }
  h2 {
    font-size: @ff-font-size-18;
    line-height: 1.3;
    &.font-size-13 { font-size: @ff-font-size-13; }
  }
  h3 {
    color: @fforange;
    font-size: @ff-font-size-18;
    small {
      font-size: @ff-font-size-12;
      color: @ffgrey;
    }
  }
  p {
    font-size: @ff-font-size-15;
  }
  div.row { margin-bottom: 0; }
}

// Property detail
.nav-control {
  font-size: @ff-font-size-18;
  font-weight: bold;
}

.property-right-side-box {
  padding: @extramargin;
  background-color: @fforangelight;
  a {
    color: @ffgrey;
    &.c-orange { color: @fforange }
  }
  h2 {
    font-size: @ff-font-size-28;
    color: @ffgrey;
    font-weight: bold;
    &.no-bold-font { font-weight: normal; }
  }
  h3 {
    color: @fforange;
    font-size: @ff-font-size-28;
    font-weight: bold;
    small { color: @ffgrey; }
  }
  h4.font-size-16 {
    margin-top: 0;
    font-size: @ff-font-size-16;
    font-weight: bold;
  }
  hr {
    border: none;
    border-top: solid 2px @ffgreylight;
    margin: 30px 0;
    padding: 0;
  }
  img.eeb {
    display: block;
    opacity: 0.25;
    margin-bottom: 5px;
    &.current { opacity: 1; }
  }
}

#custom_carousel .carousel {
  margin-bottom: 35px;
}

#custom_carousel .item {
  color: black;
  background-color: white;
  padding: 0 0 10px 0;
}

#custom_carousel .controls {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  position: relative;
  background-color: white;
}

#custom_carousel .controls li {
  display: table-cell;
  &.active {
    a {
      img { opacity: 0.3; }
    }
  }
  a {
    padding: 0;
    margin-right: 10px;
  }
}

#custom_carousel .controls a small {
  overflow: hidden;
  display: block;
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold
}

.property-detail-left-box {
  h2 {
    font-size: @ff-font-size-16;
    font-weight: bold;
    &.h2-localization {
      border: none;
      border-bottom: solid 2px @fforange;
      margin-top: @doubleextramargin;
      margin-bottom: @extramargin;
      padding-bottom: 8px;
      span.poi-icon {
        background: url('../bundles/app/images/icones/immobiliaria/color/localitzacio.png') no-repeat 0 0;
        width: 32px;
        height: 32px;
        display: inline-block;
      }
    }
    span.house-icon {
      background: url('../bundles/app/images/icones/immobiliaria/color/casa_color.png') no-repeat 0 0;
      width: 32px;
      height: 32px;
      display: inline-block;
    }
  }
  hr.thick {
    border: none;
    border-top: solid @extraborder @fforange;
    margin: 0 0 @extramargin 0;
  }
}

span.list-page {
  background: url('../bundles/app/images/icones/immobiliaria/color/llistat.png') no-repeat 0 -7px;
  width: 32px;
  height: 25px;
  display: inline-block;
}

span.prev-icon {
  background: url('../bundles/app/images/icones/immobiliaria/color/fletxa_esquerra.png') no-repeat 0 0;
  width: 32px;
  height: 25px;
  display: inline-block;
}

span.next-icon {
  background: url('../bundles/app/images/icones/immobiliaria/color/fletxa_dreta.png') no-repeat 0 0;
  width: 32px;
  height: 25px;
  display: inline-block;
}

span.facebook-icon {
  background: url('../bundles/app/images/icones/xarxes_socials/color/facebook_color.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5px;
}

span.twitter-icon {
  background: url('../bundles/app/images/icones/xarxes_socials/color/twitter_color.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5px;
}

span.envelope-icon {
  background: url('../bundles/app/images/icones/xarxes_socials/color/mail_color.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5px;
}

span.download-icon {
  background: url('../bundles/app/images/icones/xarxes_socials/color/pdf.png') no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}

// About Us
.about-us-panels {
  font-size: @ff-font-size-18;
  h2 {
    padding-bottom: 8px;
    border-bottom: solid 2px @fforange;
    font-size: @ff-font-size-18;
    font-weight: bold;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 0;
    text-decoration: none;
  }
  p.lead { font-size: @ff-font-size-32; }
  span.house {
    background: url('../bundles/app/images/icones/immobiliaria/color/casa_color.png') no-repeat 0 0;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  span.keyring {
    background: url('../bundles/app/images/icones/immobiliaria/color/serveis.png') no-repeat 0 0;
    width: 32px;
    height: 32px;
    display: inline-block;
  }
}

// Contact
.ribbon-wrapper {
  padding: 24px;
  border: solid 2px @fforange;
  border-radius: 15px;
  h2 {
    font-size: 1.25em;
    font-weight: bold;
  }
  input.btn-grey { color: white; }
}
