{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ settings.title }}</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-right">Referència</th>
                        <th>Immoble</th>
                        <th class="text-right">Visites</th>
                    </tr>
                </thead>
                <tbody>
                {% for property in topVisitedProperties %}
                    <tr>
                        <td class="text-right">{{ property.reference }}</td>
                        <td>{{ property.name }}</td>
                        <td class="text-right">{{ property.totalVisits }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
